@model Ferrero.GestorDeProjetos.Web.Models.Domain.DocumentoViewModel

<div class="form-group">
    <label asp-for="Titulo" class="control-label"></label><span class="text-danger">&nbsp;*</span>
    <input asp-for="Titulo" class="form-control bootstrap-maxlength-field" maxlength="50" />
    <span asp-validation-for="Titulo" class="text-danger"></span>
</div>

<div class="form-group">
  <label asp-for="Descricao" class="control-label"></label>
  <textarea asp-for="Descricao" class="form-control bootstrap-maxlength-field" maxlength="250"></textarea>
  <span asp-validation-for="Descricao" class="text-danger"></span>
</div>

<div class="form-group">
  <label asp-for="Versao" class="control-label"></label>
  <input asp-for="Versao" class="form-control bootstrap-maxlength-field" maxlength="10" />
  <span asp-validation-for="Versao" class="text-danger"></span>
</div>

<div class="form-group">
    <label for="Arquivo" class="form-label">
        Arquivo&nbsp;<span class="text-danger">&nbsp;*</span>
        @if (!(Model == null || String.IsNullOrEmpty(Model.Arquivo)))
        {
            <a  asp-action="Download" 
                asp-route-filename="@Model.Arquivo" 
                class="btn btn-success btn-sm"> 
                <span class="ion ion-md-download">
            </a>
        }
    </label>
    <div class="custom-file">
        <input type="file" id="Arquivo" name="Arquivo" class="form-control custom-file-input" />
        <span asp-validation-for="Arquivo" class="text-danger" />
        <label class="custom-file-label"></label>
    </div>
</div>

<input type="hidden" asp-for="ProjetoId" />

<p><span class="text-danger">*</span>&nbsp;Campos obrigatórios</p>