@model Ferrero.GestorDeProjetos.Web.Models.OrdemDeInvestimentoViewModel

@{
    ViewData["Title"] = "Editar Ordem de Investimento";
}

<h2>Editar</h2>
<h4>Ordem de Investimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
          <label asp-for="Numero" class="control-label"></label>
          <input asp-for="Numero" class="form-control" />
          <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ProjetoId" class="control-label"></label>
          <select asp-for="ProjetoId" class="form-control" asp-items="ViewBag.ProjetoId">
              <option value="">-- Selecione o Projeto --</option>
          </select>
          <span asp-validation-for="ProjetoId" class="text-danger" />
        </div>
        <div class="form-group">
          <label asp-for="Valor" class="control-label"></label>
          <input asp-for="Valor" class="form-control" />
          <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="text-right">
          <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Salvar
          </button>
          <a asp-action="Index" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
          </a>
        </div>
      </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
