@model Ferrero.GestorDeProjetos.Web.Models.ViewModels.AtivoViewModel

<div class="form-group">
  <label asp-for="Id" class="control-label"></label>
  <input asp-for="Id" class="form-control"/>
  <span asp-validation-for="Id" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Descricao" class="control-label"></label>
  <input asp-for="Descricao" class="form-control bootstrap-maxlength-field" maxlength="50" />
  <span asp-validation-for="Descricao" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Localizacao" class="control-label"></label>
  <input asp-for="Localizacao" class="form-control bootstrap-maxlength-field" maxlength="50" />
  <span asp-validation-for="Localizacao" class="text-danger"></span>
</div>    
<div class="form-group">
  <label asp-for="OrdemDeInvestimentoId" class="control-label"></label>
  <select asp-for="OrdemDeInvestimentoId" class="form-control" asp-items="ViewBag.OrdemDeInvestimentoId">
      <option value="">-- Selecione a Ordem De Investimento --</option>
  </select>
  <span asp-validation-for="OrdemDeInvestimentoId" class="text-danger" />
</div>
<div class="form-group">
  <label asp-for="CentroDeCustoId" class="control-label"></label>
  <select asp-for="CentroDeCustoId" class="form-control" asp-items="ViewBag.CentroDeCustoId">
      <option value="">-- Selecione o Centro de Custo --</option>
  </select>
  <span asp-validation-for="CentroDeCustoId" class="text-danger" />
</div>
<div class="form-group">
  <label asp-for="Situacao" class="control-label"></label>
  <select asp-for="Situacao" class="form-control">
    <option value="0">NÃO TRANSFERIDO</option>
    <option value="1">TRANSFERIDO</option>
  </select>
  <span asp-validation-for="Situacao" class="text-danger"></span>
</div>