@model Ferrero.GestorDeProjetos.Web.Models.ViewModels.AtivoViewModel

@{
    ViewData["Title"] = "Editar Ativo";
}

<h2>Excluir</h2>
<h4>Ativo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.Id)</div>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input maxlength="50" asp-for="Descricao" class="form-control"  disabled/>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input maxlength="50" asp-for="Localizacao" class="form-control" disabled/>
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="OrdemDeInvestimento" class="control-label"></label>
                <input maxlength="7" asp-for="OrdemDeInvestimento" class="form-control" disabled/>
                <span asp-validation-for="OrdemDeInvestimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentroDeCustoId" class="control-label"></label>
                <select asp-for="CentroDeCustoId" class="form-control" asp-items="ViewBag.CentroDeCustoId" disabled>
                    <option value="">-- Selecione o Centro de Custo --</option>
                </select>
                <span asp-validation-for="CentroDeCustoId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control" disabled>
                  <option value="0">NÃO TRANSFERIDO</option>
                  <option value="1">TRANSFERIDO</option>
                </select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="text-right">
              <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
              </button>
              <a asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
              </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
