@model Ferrero.GestorDeProjetos.Web.Models.RequisicaoViewModel

@{
    ViewData["Title"] = "Nova requisição";
}

<h2>Nova</h2>
<h4>Requisição</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDaOrdemDeCompra" class="control-label"></label>
                <input asp-for="NumeroDaOrdemDeCompra" class="form-control" />
                <span asp-validation-for="NumeroDaOrdemDeCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtivoId" class="control-label"></label>
                <select asp-for="AtivoId" class="form-control" asp-items="ViewBag.AtivoId">
                    <option value="">-- Selecione o Ativo --</option>
                </select>
                <span asp-validation-for="AtivoId" class="text-danger" />
            </div>
            <div class="text-right">
              <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Salvar
              </button>
              <a asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
              </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
