@model Ferrero.GestorDeProjetos.Web.Models.ViewModels.RequisicaoDeCompraViewModel

<div class="form-group">
    <label asp-for="Numero" class="form-label"></label>
    <input asp-for="Numero" class="form-control" />
    <span asp-validation-for="Numero" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Data" class="form-label"></label>
    <input asp-for="Data" class="form-control text-mask-date datepicker-base" placeholder="__/__/____" />
    <span asp-validation-for="Data" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NumeroDaOrdemDeCompra" class="form-label"></label>
    <input asp-for="NumeroDaOrdemDeCompra" class="form-control" />
    <span asp-validation-for="NumeroDaOrdemDeCompra" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Descricao" class="form-label"></label>
    <input asp-for="Descricao" class="form-control bootstrap-maxlength-field" maxlength="250" />
    <span asp-validation-for="Descricao" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AtivoId" class="form-label"></label>
    <select asp-for="AtivoId" class="form-control" asp-items="ViewBag.AtivoId">
        <option value="">-- Selecione --</option>
    </select>
    <span asp-validation-for="AtivoId" class="text-danger" />
</div>
<div class="form-group">
    <label for="Proposta" class="form-label">
        Proposta&nbsp;
        @if (!(Model == null || String.IsNullOrEmpty(Model.Proposta)))
        {
            <a  asp-action="Download" 
                asp-route-filename="@Model.Proposta" 
                class="btn btn-success btn-sm"> 
                <span class="ion ion-md-download">
            </a>
        }
    </label>
    <div class="custom-file">
        <input type="file" id="Proposta" name="Proposta" class="form-control custom-file-input" />
        <span asp-validation-for="Proposta" class="text-danger" />
        <label class="custom-file-label"></label>
    </div>
</div>